body {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #2d3142;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.primaryNav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.primaryNav .primaryNavList,
.secondaryNav .secondaryNavList {
  display: flex;
  gap: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
}

.primaryNav .navMenuItem {
  position: relative;
}

.primaryNav .navMenuItem .primaryNavSubList {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #2d3142;
  border: 1px solid #fff;
  list-style-type: none;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.primaryNav .navMenuItem .primaryNavSubList .navSubmenuItem {
  margin: 10px;
  transition: background-color 0.5s;
}

.primaryNav .navMenuItem:hover .primaryNavSubList {
  display: block;
}

.primaryNav .navMenuItem a.navLink {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.5s ease;
}

.primaryNav .navMenuItem a.navLink::before,
.primaryNav .navMenuItem a.navLink::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ec6a32;
  transition: all 0.5s ease;
}

.primaryNav .navMenuItem a.navLink::before {
  left: 50%;
  bottom: -5px;
}

.primaryNav .navMenuItem a.navLink::after {
  right: 50%;
  bottom: -5px;
}

.primaryNav .navMenuItem a.navLink:hover::before {
  left: 0;
  width: 50%;
}

.primaryNav .navMenuItem a.navLink:hover::after {
  right: 0;
  width: 50%;
}

.primaryNav .navMenuItem a.navLink:hover {
  color: #ec6a32;
}

.primaryNavSubList {
  display: none;
}

.navLink.button {
  padding: 10px 15px;
  background-color: #ec6a32;
  color: #fff;
  border-radius: 25px;
  transition: background-color 0.5s ease, transform 0.3s ease,
    box-shadow 0.2s ease, color 0.2s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navLink.button:hover {
  background-color: #d94e1f;
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* ---------------------------- Main Content ----------------------------- */

#intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0;
  color: #fff;
  background-color: #ec6a32;
}

#intro .introContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

#intro .introText {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: left;
}

#intro .introText h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

#intro .introText p {
  font-size: 1.2em;
}

.intro-button {
  display: inline-block;
  padding: 12px 25px;
  font-size: 1em;
  font-weight: 600;
  color: #2d3142;
  background-color: transparent;
  border: 2px solid #2d3142;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.intro-button:hover {
  background-color: #2d3142;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#intro .introImg {
  flex: 1;
  display: flex;
  justify-content: center;
}

#intro .introImg img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* -------------- Pricing Panel ---------------- */

#pricing {
  padding: 50px 0;
  background: #ffffff;
}

section#pricing > h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.pricing-container {
  display: flex;
  background-color: #2d3142;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.pricing-plan {
  background: linear-gradient(to bottom right, #f9f9f9, #e6e6e6);
  border-radius: 15px;
  padding: 30px;
  margin: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.pricing-plan:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.pricing-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: nowrap;
}

.plan-title {
  font-size: 28px;
  color: #ec6a32;
  margin-bottom: 10px;
}

.plan-subtitle {
  font-size: 14px;
  color: #777;
  margin: 5px 0 20px;
  font-style: italic;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.plan-price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.plan-period {
  color: #777;
  margin-bottom: 20px;
}

.plan-features {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.plan-features li {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.plan-features li:last-child {
  border-bottom: none;
}

/* ---------------- Footer ------------------------------- */

footer {
  background-color: #2d3142;
  color: #fff;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  width: 200px;
  margin-bottom: 20px;
}

.footer-section h4 {
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.footer-section ul li a:hover {
  color: #ec6a32;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  max-width: 200px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.social-icons li {
  display: inline;
  margin: 5px;
}

svg {
  fill: white;
}

a:hover svg {
  fill: #ec6a32;
}

.copyright-notice {
  background: #2d3142;
  color: #fff;
  padding: 20px;
  font-size: 0.8em;
  text-align: center;
  border-top: 1px solid #ec6a32;
}

.copyright-notice p {
  margin: 0;
  padding: 0.5em 0;
  line-height: 1.6;
}
